.Cell {
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.63);
  cursor: pointer;
  border: solid 1px black;
  border-radius: 25%;
  transition: transform 0.3s;
}

.Cell-lit {
  background-color: yellow;
}

.Cell:hover {
  transform: scale(1.1);
}

